<div class="content-wrapper p-3">

    <section class="content">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Create Post</h3>
            </div>

            <form role="form" action="/dashboard/add-post" class="w-50" method="POST">
                <%- include("../includes/validationErrors.ejs") %>
                <div class="card-body">
                    <div class="form-group">
                        <label for="titleInput">Title</label>
                        <input type="text" class="form-control w-50" name="title" id="title" />
                    </div>

                    <div class="form-group">
                        <label>Status</label>
                        <select name="status" class="form-control w-25" id="status">
                            <option value="عمومی" selected>عمومی</option>
                            <option value="خصوصی">خصوصی</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Textarea">Body</label>
                        <textarea name="body" class="form-control" id="body"></textarea>
                    </div>

                    <!-- <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text" id="">Upload</span>
                            </div>
                        </div>
                    </div>  -->

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <input type="submit" value="Create Post" class="btn btn-success m-2" />
                </div>
            </form>
        </div>
</div>
</div>